/*
selector{
    propiedad: valor;
    propiedad: valor;

}

selector{
    propiedad: valor;
    propiedad: valor;
    
}

selector{
    propiedad: valor;
    propiedad: valor;
    
}

selector{
    propiedad: valor;
    propiedad: valor;
    
}

selector{
    propiedad: valor;
    propiedad: valor;
    
}
*/

/* Comentario */